@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
};

@theme {
  --color-brand-blue: #5271FF;;
  --color-brand-red: #EF4444;
  --color-light-gray: #F9FAFB;
};